@media(min-width:768px) {

    #submit {
        grid-column: 1 / 5;
    }

    #review {
        grid-column: 1/5;
    }

    .contenedor {
        grid-template-columns: 1fr 1fr;
    }

    input {
        padding: 5px 20px;
    }

    #mario {
        width: 60px;
        right: 700px;
    }

    .animacion {
        width: 900px;
        left: -800px
    }

    span {
        display: inline;
    }
}


@media (min-width: 1004px) {
    form.container {
        display: flex;
        justify-content: center;
    }

    input {
        width: 300px;
        margin-right: 10px;
    }

    #rango {
        width: 200px;
    }

    .contenedor {
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    #mario {
        right: 900px;
    }

    .animacion {
        width: 1350px;
        left: -1100px;
    }
}

@media (min-width: 1200px) {
    .animacion {
        width: 1500px;
        left: -1500px;
    }

}