* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.sigmar-regular {
    font-family: "Sigmar", serif;
    font-weight: lighter;
    font-style: normal;
}

#honk-fuente {
    font-family: "Honk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 31.2;
}

/*-----------------------------------------------*/

.container {
    max-width: 1004px;
    margin: 0 auto;

}

body {
    background-image: url(../images/image.png);
    background-repeat: none;


}


h1 {
    text-align: center;
    font-size: 300%;
    color: white;
    letter-spacing: 10px;
    word-spacing: 15px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

header {
    background-color: black;
    padding: 10px;
    box-shadow: 0px 5px 5px #666;
    min-width: 400px;
}

form.container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

#review {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-size: 120%;
}

input {
    padding: 7px;
    width: 80%;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
}

#submit {
    background-color: rgb(79, 69, 2);
    border-radius: 20px;
    color: white;
    text-shadow: 3px 3px 3px black;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: 3px 3px 3px rgb(42, 41, 42);
    padding: 5px;
    transition: .2s;

    &:hover {
        background-color: transparent;
        color: black;

    }
}

.contenedor {
    gap: 20px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;

}

.articulos {
    background-color: rgb(242, 242, 229);
    width: 100vw;
    min-width: 400px;
    padding: 50px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    font-size: 80%;
    letter-spacing: 2px;
    min-height: 60vh;
}

.button2 {
    background-color: red;
    color: white;
    font-weight: bolder;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
}

.card {
    box-shadow: 2px 2px 2px black;

}

footer {
    background-color: black;
    width: 100vw;
    height: 60px;
    position: sticky;
    bottom: 0;
}

#mario {
    position: absolute;
    width: 100px;
    top: 15px;
    right: 500px;
    z-index: 0;
}

#pacman {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 0;
    left: 10px;

}

p {
    font-size: 150%;
}

i {
    color: gold;
}